<div class=" container-lg animated fast fadeIn">



<div class="container-fluid">
  <div class="card mb-3 ">
    <!-- Header  -->
    <div class="card-header">


      <button style="float: right;" (click)="getCustomers()" type="button" class="btn btn-info btn-sm"> Agregar Factura <i class="fas fa-id-card"></i>
      </button>
    </div>

    <!-- Body  -->
    <div class="card-body">
      <table class="table table-responsive-lg">
        <thead class="thead-dark">
        <tr>
          <th class="text-center">ID</th>
          <th class="text-center">Descripcion</th>
          <th class="text-center">ID de cliente</th>
          <th class="text-center">Fecha de Facturacion</th>

          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let factura of facturas">

          <td class="text-center">{{ factura.id }}</td>
          <td class="text-center">{{ factura.description }}</td>
          <td class="text-center">{{ factura.customerId }}</td>
          <td class="text-center">{{ factura.createAt | date : 'dd/MM/yyyy' : 'UTC' }}</td>


          <td class="text-right">
            <button class="btn-dark btn-sm  ">Detalles  </button>
            <button (click)="deleteFactura(factura.id)" class="btn-danger btn-sm ">Eliminar </button>

          </td>
        </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>

</div>

<div class="modal" id="customersModal">
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Escojer Cliente</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
          <table class="table table-responsive-lg">
            <thead class="thead-dark">
              <tr>
                <th class="text-center">Nombre</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let cliente of client">
                <td class="text-center">{{cliente.firstName + ' ' + cliente.lastName}}</td>
                <td class="text-center">
                  <button (click)="selectCustomer(cliente.id,1)" class="btn btn-secondary btn-block">Tarjeta</button>
                  <button (click)="selectCustomer(cliente.id,2)" class="btn btn-secondary btn-block">Efectivo</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button (click)="canceledCreate()" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
      </div>
      </div>
    </div>
 </div>

 <div class="modal" id="cardsModal">
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Escojer Tarjeta del Cliente</h4>
        <h1>Hola</h1>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
          <table class="table table-responsive-lg">
            <thead class="thead-dark">
              <tr>
                <th class="text-center">Numero</th>
                <th class="text-center">Cantidad</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let card of cards">
                <td class="text-center">                 
                  <td class="text-center">{{ card.num }}</td>
                  <td class="text-center">{{ card.balance }}</td>
                  <button (click)="selectCard(card)" class="btn btn-secondary btn-block">Seleccionar</button>           
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button (click)="canceledCreate()" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
      </div>
      </div>
    </div>
 </div>

 <div class="modal" id="productsModal">
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Productos</h4>
        <h1>Hola</h1>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
          <table class="table table-responsive-lg">
            <thead class="thead-dark">
              <tr>
                <th class="text-center">Nombre del Producto</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let product of products">
                <td class="text-center">                 
                  <button (click)="selectProduct(product)" class="btn btn-secondary btn-lg btn-block">{{ product.name }}</button>           
              </tr>
            </tbody>
          </table>
        </div>
        <div>
          <button (click)="create()" class="btn btn-success">Crear Factura</button>
        </div>
        <div class="modal-footer">
          <button (click)="canceledCreate()" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
      </div>
      </div>
    </div>
 </div>

 <div class="modal" id="selectproductsModal">
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content">
          <div class="modal-body">
            <form (ngSubmit)="agregarItem()">
              <div class="form-group">
                <label for="cantidad">Cantidad</label>
                <input type="number" [ngModel]="cantidad">
              </div>
              <div>
                <button (click)="cerrarModal()" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button class="btn btn-success btn-block">Aceptar</button>
              </div>
          </form>
        </div>
      </div>
    </div>
 </div>
